body{
    font-family: sans-serif;
    background-color:#f3f3f3;
    box-sizing: border-box;
}
/*start head*/
.head{
    background-image:url("../images/bg.png");
    background-size: 100;
    background-position: center; 
    height: 500px;
    
}
/*start nav*/
div .bttn button{
    background-color:white;
    color: #cc495dfa;
    width: 110px;
    border: white solid 1px;
    border-radius: 15px;
    outline: none;
    transition: box-shadow .2s ease .1s;
}
div .bttn button:hover{
    box-shadow: 1px 2px 15px #0000005e;
    border:1px solid #0000003b;
    
}
div .bttn i {
    color: white;
}
/*end nav*/
/*start div for images*/
div .container{
    position: relative;
}
div .image{
    position: absolute;
    left: 555px;
    top:-55px;

}
/*end div for images*/
/*end head*/
/*start header*/
header .container-fluid{
    padding: 30px;
    text-align: right;
}
header .container-fluid p {
    color:#ff00006e;
    font-size:30px ;
    margin:auto;
}
/*end header*/
/*start section info*/
.container-fluid .col-sm-3 h3 {
    background-color: white;
    color: #cd4b60;
    text-align: center;
    width: 70%;
    padding: 10px;
    margin: auto;
    margin-bottom:20px;
    border-radius:20px;
}

.container-fluid .col-sm-3 .one{
    background-color: #cd4b60;
    color: white;
    width: 70%;
    padding:8px;
    margin: auto;
    margin-bottom:20px;
    border:none;
    outline:none;
    border-radius:20px;
    transition: box-shadow .2s ease .1s;
}
.container-fluid .col-sm-3 .one:hover{
    box-shadow: 1px 2px 15px #0000005e;
}
.container-fluid .col-sm-3 .two{
    background-color: rgb(251 139 94);
    color: white;
    width: 70%;
    padding:8px;
    margin: auto;
    margin-bottom:20px;
    border:none;
    outline:none;
    border-radius:20px;
    transition: box-shadow .2s ease .1s;
}
.container-fluid .col-sm-3 .two:hover{
    box-shadow: 1px 2px 15px #0000005e;
}
.container-fluid .col-sm-3 .customer{
    background-color: white;
    width:80%;
    margin:auto;
    margin-bottom:20px;
    padding:10px;
    border-radius:20px;
}
.container-fluid .col-sm-3 .customer span{
    color:#cd4b60;
    font-size:20px
}
.container-fluid .col-sm-3 .customer i {
    color:black;
    font-size:20px;
    margin-bottom:15px;
}
.container-fluid .col-sm-3 .customer p{
    color: black;
}
.container-fluid .instruction{
    background-color: #656463;
    width:80%;
    border-radius:15px;
    color:white;
    margin:auto;
    padding: 7px;
    line-height: 30px;
} 
.container-fluid .instruction h5{
    margin-bottom: 25px;
    padding-top: 8px;  
}
.container-fluid .instruction ul{
    list-style :none;
}
.container-fluid .instruction ul li::before{
    content: "\2022";
    color: #dd7851;
    float: right;
    margin-left: 3px;
    font-size:25px;
    padding-right:6px;

}
.col-md-9 img{
    margin-bottom: 10px;
}
.problem  i, h6{
    color: #ff45009c;
    font-size:22px;

}
.problem p{
    min-height:40px;
    background-color: white;
    color: black;
    text-align: right;
    border-radius: 20px;
    padding:8px 15px;
    font-size:17px;
}
.favourite h6, i{
    color: #a52a2a87;
    font-size:22px;
}
.favourite p{
    height:40px;
    background-color: white;
    color: black;
    text-align: right;
    padding:8px 15px;
    border-radius: 20px;
    font-size:17px;
}
/*start div details*/
.container .details h6{
    text-align:right;
    color:#ca4658bf;
    margin-bottom:15px;

}
.container .details p{
    background-color: white;
    text-align: center;
    border-radius: 30px;
    padding: 15px;
    font-size:17px;
    margin-bottom:20px;
    width: 98%;

}
.container .message h6{
    text-align:right;
    color:#ca4658bf;
    margin-bottom:20px;

}
.container .message textarea{
    text-align: right;
    width: 98%;
    height: 150%;
    border:1px solid #12121321;
    outline:none;
    margin-bottom:20px;
}
.container .message button{
    display: block;
    width: 25%;
    text-align: center;
    background-color:#dd4141e8;
    color:white;
    padding:3px;
    border-radius:50px;
    font-size:17px;
    font-weight: 550;
    margin:auto;
    outline:none;
    border:1px solid #f68338;
    box-shadow:-7px -7px 20px #f68338 inset;
    transition: box-shadow .2s ease .1s;
}
.container .message button:hover{
    box-shadow: 1px 2px 15px #0000005e;
}
/*end div details*/
/*end section info*/
/*start footer*/
footer{
    background-color:#cc4859;
    margin-top: 220px;  
    padding:60px;
    padding-bottom:0px;
}
footer .container h4, h5{
    color: white; 
    text-align: center;
}
footer .container button{
    color:#ff45009c;
    border-radius:25px;
    outline:none;
    border:1px solid white;
    margin:8px;
    padding:5px;
    width:75%;
    height: 50px;
}
footer .container button i{
    color:#ff45009c ;
    padding-right:5px;
    padding-top:2px;
}
footer .container .icon i{
    color: white;
    letter-spacing: 25px;
}
footer .container .linkes a{
    color: white;
    text-decoration:none;
    font-size:20px;
    line-height:35px;
}
footer .container  .oops{
    margin-top:-90px;

}
footer .container  .bag{
    margin-left:-90px ;
    margin-top:10px;


}
footer .container p{
    color: white;
    line-height:30px;
    margin-top:10px;
}
/*end footer*/



