:root{
    --main-color: #cc495dfa;
    --second-color: white;
}
::selection {
    background-color: var(--main-color);
    color:white;
}
body {
    font-family: 'Cairo', sans-serif;
    direction: rtl;
    background-color:#f3f3f3;
}
/*start header*/
header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 11;
}
/*start nav*/
nav .navbar-nav .nav-link{
    color: var(--second-color);
    transition: all .4s;
}
nav .navbar-nav .nav-link.active,
nav .navbar-nav .nav-link:hover{
    color: var(--main-color);
}
nav .btn{
    background-color: var(--second-color);
    color: var(--main-color);
    outline: none;
    border: 1px solid var(--second-color);
    transition: all .5s ease-in;
    padding: 5px 24px;
}
nav .btn:hover, 
nav .btn:focus{
    background-color: var(--second-color);
    color: var(--main-color);
    border: 1px solid var(--second-color);
    box-shadow: 0 2px 15px rgb(0 0 0/20%);
}
/*end nav*/
/*end header*/
/*start main*/
main {
    background-image: url("../images/bg.png");
    background-size: cover;
    background-position: center; 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
main .container {
    display: flex;
    align-items: center;
    justify-content: center;
}
main .images .second img {
    transform: translateY(-44px);
}
/*end main*/
/*start section heading*/
.heading p {
    color:var(--main-color);
}
/*end section heading*/
/*start section info*/
.info .favourite h5, .info .favourite svg {
    color: #a52a2a87;
}
.info .favourite p, 
.info .problem p, 
.info .problem .addtion,
.info .details p {
    background-color: var(--second-color);
    color: black;
    text-align: right;
    padding: 10px 16px;
    border-radius: 20px;
}
.info .problem svg, .info .problem h5 {
    color: rgb(251 139 94);
}
.info .details h5, .info .message h5 {
    color: #ca4658bf;
}
.info .message textarea {
    resize: none;
    height: 200px;
    border: 1px solid #12121321;
    border-radius: 5git afddpx;
    outline: none;
}
.info .message .btn {
    display: block;
    width: 27%;
    background-color: #dd4141e8;
    color: white;
    outline: none;
    border: 1px solid #f68338;
    box-shadow: -12px -8px 25px #f68338 inset;
    transition: all .7s ease-in;
}
.info .message .btn:hover {
    box-shadow: 0 2px 15px rgb(0 0 0/20%);
}
.info .box h3 {
    background-color: var(--second-color);
    color: #cd4b60;
    width: 80%;
    padding: 8px 37px;
    margin: auto;
}
.info .box .btn {
    padding: 8px 34px;
    color: var(--second-color);
    width: 80%;
    border: none;
}
.info .box .one {
    background-color: #cd4b60;
    transition: box-shadow .5s ease-in;
}
.info .box .one:hover {
    box-shadow: 1px 2px 15px #0000005e;
}
.info .box .two {
    background-color: rgb(251 139 94);
    transition: box-shadow .5s ease-in;
}
.info .box .two:hover {
    box-shadow: .1px 1px 15px #0000005e;
}
.info .box .customer {
    background-color: var(--second-color);
    width: 80%;
    margin: auto;
    padding: 16px;
    border-radius: 20px;
}
.info .box .customer svg {
    color: black;
    font-size: 20px;
}
.info .box .customer p {
    color: #cd4b60;
    font-size: 24px;
}
.info .box .customer span {
    color: black;
    font-size: 11px;
}
.info .box .instruction {
    background-color: #656463;
    color: var(--second-color);
    margin: auto;
    width: 80%;
    border-radius: 20px;
} 
.info .box .instruction p::before{
    content: "\2022";
    color: rgb(251 139 94);
    margin-left: 2px;
}
/*end section info*/
/*start footer*/
footer {
    background-color:var(--main-color);
    margin-top: 65px;
}
footer .about .first {
    transform: translateY(-26px);
}
footer .about .second {
    width: 14%;
    transform: translate(142px, 16px);
}
@media (max-width:1199px) {
    footer .about .second {
        transform: translate(120px, 10px);
    }
}
@media (max-width:992px) {
    footer .about .second {
        display: none;
    }
}
footer .about p {
    color: var(--second-color);
    font-size: 17px;
}
footer .links a {
    color: var(--second-color);
    font-size:20px;
    text-decoration:none;
    transition: all .3s ease-in;
}
footer .links a:hover {
    padding-left: 10px;
}
footer .icons svg {
    color: var(--second-color);
    font-size: 22px;
    transition: all .4s ease-in;
}
footer .icons svg:hover {
    transform: translateY(20px);
    opacity: 0;
}
footer .contact h4, h5 {
    color: var(--second-color); 
}
footer .contact .link {
    background-color: var(--second-color);
    color: #ff45009c;
    width: fit-content;
    margin: auto;
    border-radius: 25px;
    padding: 12px;
    transition: all .6s ease-in-out;
    cursor: pointer;
}
footer .contact a {
    color: #ff45009c;
    font-size: 18px;
    text-decoration: none;
    transition: all .5s ease-in-out;
}
footer .contact svg {
    font-size: 24px;
}
footer .contact .link:hover {
    background-color: transparent;
    color: var(--second-color);
}
footer .contact .link:hover a {
    color: var(--second-color);
}
/*end footer*/